:root {
  --bg-color: white;
  --text-color: black;
  --hr-color: #ccc;
}

.dark {
  --bg-color: black;
  --text-color: white;
  --hr-color: #333;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: inherit;
  font-style: inherit;
}

a {
  all: unset;
  cursor: pointer;
}

ul {
  padding: 0;
}

// init button
        button {
  all: unset;
  cursor: pointer;
}

// init input
        input {
  all: unset;
  box-sizing: border-box;
}

// init textarea
        textarea {
  border: none;
  background-color: transparent;
  font-family: inherit;
  padding: 0;
  outline: none;
  resize: none;
  color: inherit;
}

hr {
  width: 100%;
  border: none;
  margin: 0;
  border-top: 1px solid var(--hr-color);
}
